* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7e8d4ef;
}
.game-container{
    text-align: center;
    align-items: center;
}

.cell{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    box-shadow: 0 0 0 2px;
    font-size: 4em;
    cursor: pointer;
    line-height: 100px;
    border-radius: 5px;
}
.game-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.cell-container{
    font-family: "Permanent Marker", cursive;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: auto;
    padding: 20px;
}
.player-point{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    font-weight: bold;
    gap: 150px;
}

.player-turn{
    font-size: 1.5em;
    font-weight: bold;
}
.round{
    font-size: 20px;
    padding: 10px;
}
.reset-btn{
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: rgb(177, 115, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(214, 139, 0);
}
  button:active{
    background-color: rgb(131, 85, 0);
}
.player-point{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    font-weight: bold;
    gap: 150px;
    font-size: 1.3em;
}
.player-turn{
    font-size: 1.5em;
    font-weight: bold;
    padding: 30px;
}
.round{
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}
.result{
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}
.reset-btn,
.submit-btn{
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    background-color: rgb(177, 115, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.submit-btn{
    margin: 20px auto;
    display: block;
}
.reset-btn:hover,
.submit-btn:hover{
    background-color: rgb(214, 139, 0);
}
.reset-btn:active,
.submit-btn:active{
    background-color: rgb(131, 85, 0);
}
/*input overlay */
.input-overlay{
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* display: none; */
  }
  form{
    background-color: rgba(61, 47, 32, 0.781);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
  }
  form label{
    margin: 10px 0 10px;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
  }
  form input{
    width: 90%;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    background-color: rgba(250, 235, 215, 0.966);
    font-size: 1em;
    font-weight: bold;
  }
